// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #5B7F97;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 1);
$label-color:       rgba(255, 255, 255, 1);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-nagios-list styles
// ----------------------------------------------------------------------------
.widget-nagios-list { 

  background-color: $background-color;
  vertical-align: top;

  .title { 
    color: $title-color;
    font-size: 1.2em;
  }

  .subtitle { 
    color: $title-color;
    font-size: 1em;
  }

  ol, ul {
    margin: 0 15px;
    text-align: left;
    color: $label-color;
  }

  ol {
    nagios-list-style-position: inside;
  }

  li {
    font-size: 1.1em;
  }

  .nagios-list-nostyle {
    nagios-list-style: none;
  }

  .label {
    color: $label-color;    
    font-weight: 600;   
  }

  .value {
    float: right;
    margin-left: 10px;
    font-weight: 600;
    color: $value-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.8em;
  }

  .more-info {
    color: $moreinfo-color;
  }

}