$background: #444;
$text: #fff;
$success: #86d751;
$warning: #edde43;
$failure: #e3394f;
$error: #f75f00;

.widget-nagios {
  li {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 25px;

    h3 {
      font-size: 60px;
      font-weight: bold;
    }
  
    h4 {
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
    }

    p {
        &.updated-at {
          color: rgba(0, 0, 0, 0.6);
          font-size: 0.8em;
        }
    }
  
    &.green {
      background-color: $success;
    }

    &.yellow {
      background-color: $warning;
    }

    &.red {
      background-color: $failure;
    }

    &.error {
      background-color: $error;
    }
  }
}
