// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #5B7F97;

$title-color:       rgb(255, 255, 255);
$moreinfo-color:    rgb(255, 255, 255);

$meter-background:  darken($background-color, 20%);

// ----------------------------------------------------------------------------
// Widget-meter styles
// ----------------------------------------------------------------------------
.widget-meter {

  background-color: $background-color;

  input.meter {
    background-color: $meter-background;
    color: #fff;
  }

  .title {
    color: $title-color;
  }

  .more-info {
    color: $moreinfo-color;
    font-size: 1em;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.8em;
  }

}
